.card-benefits{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  .icon-card{
    margin-bottom: 30px;
    text-align: center;
  }
  .title-card{
    margin-bottom: 30px;
    @media screen and (max-width:558px) {
      text-align: center;
    }
  }
  .text-card{
    @media screen and (max-width:558px) {
      text-align: center;
    }
  }
}
