<div class="apresentation-container">
  <div class="apresentation-text-container">
    <div>
      <h1 class= "apresentation-title">Next generation digital bank</h1>
      <p style="color: #d9d7dc; ">
        Take your financial life online. Your Easybank account will be
        one-stop-shop for spending, saving, budgeting, investing, and much more.
      </p>
    </div>
    <button class="toolbar-button"><span>Request Invite</span></button>
  </div>

  <div class="apresentation-image-container">
    <img class="mockup" src="../../../../../assets/image-mockups.png" alt="" srcset="" />
  </div>

</div>
