<section class="footer-container">
  <!-- Social Media and Logo  -->
  <div class="social-media-container">
    <img class="logo" src="../../../../../assets/logo-white-text.svg" alt="" srcset="">
    <a>
      <img class="social-media-item" src="../../../../../assets/icon-facebook.svg" alt="" srcset="">
    </a>
    <a>
      <img class="social-media-item" src="../../../../../assets/icon-youtube.svg" alt="" srcset="">
    </a>
    <a>
      <img class="social-media-item" src="../../../../../assets/icon-twitter.svg" alt="" srcset="">
    </a>
    <a>
      <img class="social-media-item" src="../../../../../assets/icon-pinterest.svg" alt="" srcset="">
    </a>
    <a>
      <img class="social-media-item" src="../../../../../assets/icon-instagram.svg" alt="" srcset="">
    </a>
  </div>
  <!-- Items -->
  <div class="footer-options-container">
    <div class="footer-options">
      <a href="" class="item">About Us</a>
      <a href="" class="item">Contact</a>
      <a href="" class="item">Blog</a>
    </div>
    <div class="footer-options">
      <a href="" class="item">Carerrs</a>
      <a href="" class="item">Suport</a>
      <a href="" class="item">Privacy Policy</a>
    </div>
  </div>
  <!-- Button and Copyrigth -->
  <div class="toolbar-button-container">
  <button class="toolbar-button"><span>Request Invite</span></button>
</div>
<span style="display: block; color: #9698a6; margin-top: 20px;"> ®EasyBank. All rights reserved. </span>
</section>
