<mat-toolbar class="toolbar">
  <img src="../../../../../assets/logo.svg" alt="" srcset="">
  <div class="toolbar-options">

    <div class="item-container">
      <a href="" class="item">Home</a>
    </div>
    <div class="item-container">
      <a href="" class="item">About</a>
    </div>
    <div class="item-container">
      <a href="" class="item">Contact</a>
    </div>
    <div class="item-container">
      <a href="" class="item">Block</a>
    </div>
    <div class="item-container">
      <a href="" class="item">Carres</a>
    </div>
  </div>

  <button class="toolbar-button"><span>Request Invite</span></button>
</mat-toolbar>
